.git
.gitignore
.gcloudignore
__pycache__
*.pyc
.env
.env.local
.env.example
node_modules
docs/
diagrams/
*.md
*.drawio
*.log
.claude/
.DS_Store
Laporan_MedWatch.pdf
anggota5/__pycache__
**/__pycache__
.pytest_cache
.vscode
.idea
